/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../../public/images/bg.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  padding: 100px 50px;
  text-align: center;
  height: 100vh;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero h1 {
  font-size: 5em;
  font-weight: 700;
  margin-bottom: 20px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.cta-buttons {
  margin-top: 50px;
}

.cta-buttons a {
  margin: 10px;
  padding: 10px 20px;
  background-color: #0052a5;
  background: linear-gradient(135deg, #0f2d5f, #0055be, #3584e5);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  background-size: 200% 200%;
  transition: transform 0.3s ease, background-position 1s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); 
}

.cta-buttons a:hover {
  background-color: #003a7d;
  background-position: 100% 100%;
}

/* Key Features Section */
.key-features {
  padding: 80px 50px;
  text-align: center;
  background-color: #f4f4f4;
}

.key-features h2 {
  font-size: 2.5em;
  margin-bottom: 40px;
}

.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feature {
  background-color: white;
  padding: 30px;
  margin: 20px;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.feature h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.feature p {
  font-size: 1em;
  color: #555;
}

.feature a {
  display: inline-block;
  margin-top: 15px;
  color: #0052a5;
  text-decoration: none;
  font-weight: bold;
}

.feature a:hover {
  color: #003a7d;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .hero h1 {
    font-size: 4em;
  }

  .hero p {
    font-size: 18px;
  }

  .cta-buttons a {
    padding: 8px 18px;
  }

  .key-features h2 {
    font-size: 2em;
  }

  .feature {
    width: 220px;
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 80px 20px;
    height: auto;
  }

  .hero h1 {
    font-size: 3.5em;
  }

  .hero p {
    font-size: 16px;
  }

  .cta-buttons a {
    padding: 8px 16px;
  }

  .key-features {
    padding: 60px 20px;
  }

  .key-features h2 {
    font-size: 1.8em;
  }

  .features {
    flex-direction: column;
    align-items: center;
  }

  .feature {
    width: 90%;
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 3em;
  }

  .hero p {
    font-size: 14px;
  }

  .cta-buttons a {
    padding: 6px 12px;
    font-size: 14px;
  }

  .key-features h2 {
    font-size: 1.6em;
  }

  .feature {
    width: 100%;
    padding: 20px;
  }

  footer {
    padding: 10px;
    font-size: 14px;
  }
}
